<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="has-navbar-fixed-top">
  {{- block "head" . }}
  {{- partial "head.html" . -}}
  {{- end }}
  <body>
    {{- block "banner" . }}
    {{- partial "header.html" . -}}
    {{- end }}
    {{- block "main" . }}
    <div class="section">
      <div id="main-cols" class="columns">
        <div id="sidebar" class="column is-3 is-fullheight">
          {{- partial "menu" . }}
        </div>
        <div id="section-article" class="column">
          {{- partial "widgets/breadcrumb" . }}
          <main>
            {{- partial "content" . }}
          </main>
        </div>
      </div>
    </div>
    {{- end }}
    {{- block "footer" . }}
    {{- partial "footer.html" . -}}
    {{- end }}
  </body>
</html>
