{{ define "main" }}
<div class="section">
  <div class="container">
    <div id="main-cols" class="columns">
      <div id="sidebar" class="column is-3 is-fullheight">
        {{- partial "menu" . }}
      </div>
      <div id="section-article" class="column is-9">
        <div class="container">
          {{ partial "widgets/breadcrumb" . }}
          <div class="section">
            <div class="content">

              <div class="columns is-mobile is-multiline">
                {{ range .Pages }}
                {{ .Render "summary"}}
                {{ end }}
              </div>
   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}